/* timer */
.subhead {
  font-family: "Roboto"
}

.timer-input {
  text-align: center;
  font-family: "Roboto"
}

.timer {
  height: 30px;
  width: 200px;
  border: none;
  outline: solid 2px;
  border-radius: 10px;
  margin: 0 5px 0 10px;
  padding: 4px;
  padding-left: 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
}

.timer:hover {
  /* looks a bit weird but i like it */
  border-radius: 14px;
}

.timer:focus {
  outline-color: #27589C;
  outline-width: 3px;
  border-radius: 14px;
}

#enter, #cancel, #pause {
  text-align: center;
  cursor: pointer;
  top: 270px;
  padding:13px 20px;
  background-color:white;
  color:black;
  border:2px solid #27589C;
  border-radius:8px;
  font-size:20px;
  font-family: "Roboto";
  text-decoration: none;
}

#enter, #cancel, #pause {
  transition-duration:0.4s;
}

#enter:hover, #cancel:hover, #pause:hover {
  background-color:#27589C;
  color:white;
}

#demo {
  text-align: center;
  font-family: "Roboto";
  font-size: 50px;
}

/* for phones because yes */
@media only screen and (max-width: 500px) {
  .timer {
    width: 130px;
    outline: none;
    border: 2px solid;
    border-radius: 15px;
  }
  .timer:focus {
    border-color: #27589C;
    border-width: 3px;
    border-radius: 15px;
  }
}